:root {
  --trut-breadcrumbs-gap: theme('gap.2');
  --trut-breadcrumbs-item-font-size: theme('fontSize.sm');
  --trut-breadcrumbs-item-color: theme('colors.neutral.500');
  --trut-breadcrumbs-item-hover-color: theme('colors.primary.DEFAULT');
  --trut-breadcrumbs-active-item-color: theme('colors.neutral.800');
  --trut-breadcrumbs-item-font-weight: theme('fontWeight.normal');
  --trut-breadcrumbs-separator-color: theme('colors.neutral.400');
  --trut-breadcrumbs-separator-font-size: theme('fontSize.xs');
  --trut-breadcrumbs-separator-position-top: 1px;
}

html.dark {
  --trut-breadcrumbs-item-color: theme('colors.neutral.400');
  --trut-breadcrumbs-active-item-color: theme('colors.neutral.100');
  --trut-breadcrumbs-separator-color: theme('colors.neutral.400');
}
