:root {
  --trut-navigation-bg: inherit;
  --trut-navigation-item-space-y: theme('spacing.px');
  --trut-navigation-item-width: 100%;
  --trut-navigation-item-bg: theme('colors.transparent');
  --trut-navigation-item-height: theme('height.12');
  --trut-navigation-item-padding: theme('padding.1') theme('padding.4');
  --trut-navigation-item-font-size: theme('fontSize.sm');
  --trut-navigation-item-border-radius: theme('borderRadius.lg');
  --trut-navigation-item-border-width: 1px;
  --trut-navigation-item-border-color: theme('colors.transparent');
  --trut-navigation-item-font-weight: theme('fontWeight.medium');
  --trut-navigation-item-color: theme('textColor.neutral.700');
  --trut-navigation-item-hover-bg: theme('colors.neutral.200');
  --trut-navigation-item-active-bg: theme('colors.neutral.300');
  --trut-navigation-item-hover-color: theme('colors.neutral.900');
  --trut-navigation-item-active-color: theme('colors.neutral.1000');
  --trut-navigation-item-icon-font-size: theme('fontSize.2xl');
  --trut-navigation-item-icon-color: theme('colors.neutral.700');
  --trut-navigation-item-icon-width: 1.5625rem; // 25px
  --trut-navigation-item-hover-icon-color: theme('colors.neutral.900');
  --trut-navigation-item-active-icon-color: theme('colors.neutral.1000');
  --trut-navigation-item-icon-size: theme('width.6');
  --trut-navigation-item-gap: theme('gap.3');
  --trut-navigation-item-has-icon-padding-start: theme('padding[2.5]');
  --trut-navigation-heading-color: theme('colors.neutral.900');
  --trut-navigation-heading-font-size: theme('fontSize.2xs');
  --trut-navigation-heading-font-weight: theme('fontWeight.bold');
  --trut-navigation-heading-padding: 0 theme('padding.4');
  --trut-navigation-heading-margin-bottom: theme('spacing.3');
  --trut-navigation-heading-after-margin: theme('spacing.8');
  --trut-navigation-heading-text-transform: uppercase;
  --trut-navigation-divider-height: theme('height.px');
  --trut-navigation-divider-bg: theme('colors.neutral.200');
  --trut-navigation-divider-margin: theme('margin.6') 0;
  --trut-navigation-group-toggle-has-icon-padding-end: theme('padding.2');
  --trut-navigation-group-toggle-icon-color: theme('colors.neutral.400');
  --trut-navigation-group-toggle-icon-position-end: theme('spacing.3');
  --trut-navigation-group-toggle-icon-size: theme('width.4');
  --trut-navigation-group-menu-padding-start: 0;
  --trut-navigation-nested-item-bg: theme('colors.transparent');
  --trut-navigation-nested-item-height: theme('height.12');
  --trut-navigation-nested-item-padding: theme('padding.1') theme('padding[3.5]') theme('padding.1') 52px;
  --trut-navigation-nested-item-border-radius: 0;
  --trut-navigation-nested-item-color: theme('textColor.neutral.700');
  --trut-navigation-nested-item-hover-bg: theme('colors.neutral.200');
  --trut-navigation-nested-item-active-bg: theme('colors.surface-container');
  --trut-navigation-nested-item-hover-color: theme('textColor.neutral.800');
  --trut-navigation-nested-item-active-color: theme('colors.neutral.950');
  --trut-navigation-nested-item-indicator-width: theme('width[3.5]');
  --trut-navigation-nested-item-indicator-height: theme('height[0.5]');
  --trut-navigation-nested-item-indicator-bg: theme('colors.neutral.500');
  --trut-navigation-nested-item-indicator-position-start: calc(theme('spacing[2.5]') * -1);
  --trut-navigation-group-active-bg: transparent;
  --trut-navigation-group-border-radius: 0;
  --trut-navigation-group-menu-gap: theme('gap.1');
}

.trut-navigation-item + *:not(.trut-navigation-divider),
.trut-navigation-group + .trut-navigation-item {
  margin-top: var(--trut-navigation-item-space-y);
}

.trut-navigation > * + .trut-navigation-heading {
  margin-top: var(--trut-navigation-heading-after-margin);
}

.trut-navigation-group-toggle-icon {
  @apply transition;
}

.trut-navigation[data-theme="secondary"] {
  --trut-navigation-item-border-radius: theme('borderRadius.full');
  --trut-navigation-item-height: theme('height.11');
  --trut-navigation-item-active-bg: theme('colors.background');

  .trut-navigation-item.is-active {
    --trut-navigation-item-border-color: theme('colors.neutral.900');
  }
}

html.dark {
  --trut-navigation-item-color: theme('colors.neutral.300');
  --trut-navigation-item-icon-color: theme('colors.neutral.400');
  --trut-navigation-item-hover-bg: #{rgba(#fff, .2)};
  --trut-navigation-item-active-bg: #{rgba(#fff, .2)};
  --trut-navigation-item-hover-color: theme('colors.neutral.100');
  --trut-navigation-item-hover-icon-color: theme('colors.neutral.100');
  --trut-navigation-item-active-color: theme('colors.neutral.100');
  --trut-navigation-item-active-icon-color: theme('colors.neutral.100');
  --trut-navigation-heading-color: theme('colors.neutral.200');
  --trut-navigation-nested-item-color: theme('textColor.neutral.300');
  --trut-navigation-nested-item-active-color: theme('colors.neutral.100');
  --trut-navigation-nested-item-hover-bg: #{rgba(#fff, .1)};
  --trut-navigation-nested-item-active-bg: #{rgba(#fff, .1)};
  --trut-navigation-nested-item-hover-color: theme('colors.neutral.100');
  --trut-navigation-divider-bg: theme('colors.neutral.600');

  .trut-navigation[data-theme="secondary"] {
    .trut-navigation-item.is-active {
      --trut-navigation-item-border-color: theme('colors.neutral.400');
    }
  }
}
