:root {
  --trut-number-input-gap: theme('gap.2');
  --trut-number-input-control-bg: none;
  --trut-number-input-control-color: theme('colors.neutral.500');
  --trut-number-input-control-hover-color: theme('colors.neutral.600');
  --trut-number-input-control-active-color: theme('colors.neutral.700');
  --trut-number-input-control-hover-bg: theme('colors.neutral.50');
  --trut-number-input-control-active-bg: theme('colors.neutral.100');
  --trut-number-input-control-font-size: theme('fontSize.2xl');
  --trut-number-input-control-border-radius: theme('borderRadius.md');
  --trut-number-input-suffix-gap: theme('gap.3');
  --trut-number-input-control-size: theme('width.7');
  --trut-number-input-control-border: none;
}

html.dark {
  --trut-number-input-control-color: theme('colors.neutral.300');
  --trut-number-input-control-hover-color: theme('colors.neutral.200');
  --trut-number-input-control-hover-bg: theme('colors.neutral.500');
}
