:root {
  --trut-popover-border: theme('width.px') solid theme('colors.neutral.200');
  --trut-popover-shadow: theme('boxShadow.lg');
  --trut-popover-border-radius: theme('borderRadius.lg');
  --trut-popover-bg: theme('colors.white');
  --trut-popover-margin-offset: theme('spacing[2.5]');
}

html.dark {
  --trut-popover-border: theme('width.px') solid theme('colors.neutral.700');
  --trut-popover-bg: theme('colors.neutral.500');
}
