:root {
  --trut-segmented-button-height: calc(theme('height.11') - theme('padding.2'));
  --trut-segmented-bg: theme('colors.neutral.100');
  --trut-segmented-button-hover-bg: theme('colors.neutral.200');
  --trut-segmented-button-color: theme('colors.neutral.600');
  --trut-segmented-button-hover-color: theme('colors.neutral.800');
  --trut-segmented-button-selected-color: theme('colors.neutral.900');
  --trut-segmented-button-selected-bg: theme('colors.white');
  --trut-segmented-button-selected-shadow: theme('boxShadow.sm');
  --trut-segmented-padding: theme('padding.1');
  --trut-segmented-border-radius: theme('borderRadius.md');
  --trut-segmented-button-border-radius: theme('borderRadius.md');
  --trut-segmented-button-padding: 0 theme('padding.3');
  --trut-segmented-button-font-size: theme('fontSize.sm');
  --trut-segmented-gap: theme('gap.1');
  --trut-segmented-button-gap: theme('gap.1');
  --trut-segmented-button-icon-offset-margin: -6px;
}

[trut-segmented-size="sm"] {
  --trut-segmented-button-height: calc(theme('height.10') - theme('padding.2'));
  --trut-segmented-button-font-size: theme('fontSize.xs');
  --trut-segmented-button-padding: 0 theme('padding.2');
  --trut-segmented-button-gap: theme('gap[0.5]');
}

[trut-segmented-size="lg"] {
  --trut-segmented-button-height: calc(theme('height.14') - theme('padding.2'));
  --trut-segmented-button-font-size: theme('fontSize.sm');
  --trut-segmented-button-padding: 0 theme('padding.4');
  --trut-segmented-button-gap: theme('gap[1.5]');
}

html.dark {
  --trut-segmented-bg: theme('colors.neutral.600');
  --trut-segmented-button-hover-bg: theme('colors.neutral.400');
  --trut-segmented-button-color: theme('colors.neutral.300');
  --trut-segmented-button-selected-bg: theme('colors.neutral.200');
  --trut-segmented-button-hover-color: theme('colors.white');
}
