:root {
  --trut-skeleton-gap: theme('gap.4');
  --trut-skeleton-item-border-radius: theme('borderRadius.xl');
  --trut-skeleton-item-animation: trut-skeleton-loading 1s linear infinite alternate;
  --trut-skeleton-block-width: theme('width.full');
  --trut-skeleton-block-height: theme('height.20');
  --trut-skeleton-line-height: theme('height.5');
  --trut-skeleton-line-width: theme('width.full');
  --trut-skeleton-line-border-radius: theme('borderRadius.full');
  --trut-skeleton-circle-size: theme('spacing.14');
  --trut-skeleton-from-bg: theme('colors.neutral.100/80');
  --trut-skeleton-from-to: theme('colors.neutral.200/70');
}

@keyframes trut-skeleton-loading {
  0% {
    background: var(--trut-skeleton-from-bg);
  }

  100% {
    background: var(--trut-skeleton-from-to);
  }
}

html.dark {
  --trut-skeleton-from-bg: theme('colors.neutral.500/80');
  --trut-skeleton-from-to: theme('colors.neutral.600/70');
}
