:root {
  --trut-tab-panel-width: 5rem;
  --trut-tab-panel-item-width: 3.75rem;
  --trut-tab-panel-item-height: 3.75rem;
  --trut-tab-panel-item-padding: theme('padding.2');
  --trut-tab-panel-item-color: theme('colors.neutral.500');
  --trut-tab-panel-item-gap: theme('gap.1');
  --trut-tab-panel-item-hover-bg: theme('colors.neutral.200');
  --trut-tab-panel-item-hover-color: theme('colors.neutral.700');
  --trut-tab-panel-item-active-bg: theme('colors.neutral.300');
  --trut-tab-panel-item-active-color: theme('colors.neutral.800');
  --trut-tab-panel-item-border-radius: theme('borderRadius.lg');
  --trut-tab-panel-aside-width: 18.75rem;
  --trut-tab-panel-border-end: 1px solid theme('borderColor.DEFAULT');
  --trut-tab-panel-nav-padding: theme('padding[2.5]');
  --trut-tab-panel-nav-gap: theme('gap.3');
  --trut-tab-panel-item-text-font-size: theme('fontSize.xs');
  --trut-tab-panel-item-icon-font-size: theme('fontSize.2xl');
}

html.dark {
  --trut-tab-panel-border-end: 1px solid theme('colors.neutral.600');
}
