<div class="space-y-6">
  <trut-announcement iconName="help" type="neutral">
    You still have not uploaded your Mart invoice due on 22 April 2024
  </trut-announcement>
  <trut-announcement iconName="info" type="informative">
    You still have not uploaded your Mart invoice due on 22 April 2024
  </trut-announcement>
  <trut-announcement iconName="error" type="negative">
    You still have not uploaded your Mart invoice due on 22 April 2024
  </trut-announcement>
  <trut-announcement iconName="done" type="positive">
    You still have not uploaded your Mart invoice due on 22 April 2024
  </trut-announcement>
  <trut-announcement iconName="warning" type="warning">
    You still have not uploaded your Mart invoice due on 22 April 2024
  </trut-announcement>
</div>
