<div class="border dark:border-inverse rounded-xl p-5">
  <trut-skeleton direction="col">
    <trut-skeleton-line class="w-80"></trut-skeleton-line>
    <div class="flex items-center justify-center gap-3 py-6">
      <trut-skeleton-line class="w-20 h-3"></trut-skeleton-line>
      <trut-skeleton-line class="w-20 h-3"></trut-skeleton-line>
      <trut-skeleton-line class="w-20 h-3"></trut-skeleton-line>
    </div>
    <trut-skeleton-block class="h-64"></trut-skeleton-block>
  </trut-skeleton>
</div>
