<trut-timeline>
  <trut-timeline-header>1 AUG, 2023</trut-timeline-header>
  <trut-timeline-item>
    <ng-template emrTimelineItemIndicator>
      <trut-avatar src="https://randomuser.me/api/portraits/men/1.jpg" class="w-6 h-6" text="J"></trut-avatar>
    </ng-template>
    <trut-timeline-timestamp>11, July</trut-timeline-timestamp>
    <trut-timeline-title>Created "emrimaKit in Angular" task</trut-timeline-title>
    <trut-timeline-description>Find more detailed insctructions here.</trut-timeline-description>
  </trut-timeline-item>
  <trut-timeline-item>
    <ng-template emrTimelineItemIndicator>
      <trut-avatar class="w-7 h-7">
        <mat-icon class="material-symbols-outlined text-lg">folder</mat-icon>
      </trut-avatar>
    </ng-template>
    <trut-timeline-timestamp>03, July</trut-timeline-timestamp>
    <trut-timeline-title>Created "emrimaKit in Angular" task</trut-timeline-title>
    <trut-timeline-description>Find more detailed insctructions here.</trut-timeline-description>
  </trut-timeline-item>
  <trut-timeline-item>
    <ng-template emrTimelineItemIndicator>
      <trut-avatar src="https://randomuser.me/api/portraits/men/1.jpg" class="w-6 h-6" text="J"></trut-avatar>
    </ng-template>
    <trut-timeline-timestamp>25, June</trut-timeline-timestamp>
    <trut-timeline-title>Created "emrimaKit in Angular" task</trut-timeline-title>
    <trut-timeline-description>Find more detailed insctructions here.</trut-timeline-description>
  </trut-timeline-item>
  <trut-timeline-item>
    <ng-template emrTimelineItemIndicator>
      <trut-avatar src="https://randomuser.me/api/portraits/men/1.jpg" class="w-8 h-8" text="J"></trut-avatar>
    </ng-template>
    <trut-timeline-timestamp>22, June</trut-timeline-timestamp>
    <trut-timeline-title>Created "emrimaKit in Angular" task</trut-timeline-title>
    <trut-timeline-description>Find more detailed insctructions here.</trut-timeline-description>
  </trut-timeline-item>
</trut-timeline>
