<div class="space-y-8">
  <trut-segmented selectedValue="daily">
    <trut-segmented-button value="daily" disabled>Daily</trut-segmented-button>
    <trut-segmented-button value="weekly" disabled>Weekly</trut-segmented-button>
    <trut-segmented-button value="monthly" disabled>Monthly</trut-segmented-button>
  </trut-segmented>
  <trut-segmented selectedValue="daily">
    <trut-segmented-button value="daily" disabled>Daily</trut-segmented-button>
    <trut-segmented-button value="weekly">Weekly</trut-segmented-button>
    <trut-segmented-button value="monthly">Monthly</trut-segmented-button>
  </trut-segmented>
</div>
