<div class="h-[400px] overflow-hidden">
  <trut-incidents>
    <trut-incidents-bar>
      <trut-incidents-title>Maintenance work on the DNS</trut-incidents-title>
      <trut-incidents-description>Description</trut-incidents-description>
      <mat-icon trutIncidentsToggleIcon class="material-symbols-outlined">expand_more</mat-icon>
    </trut-incidents-bar>
    <trut-incidents-list>
      @for (incident of incidents; track incident) {
        <trut-incident>
          <mat-icon trutIncidentIcon class="material-symbols-outlined">info</mat-icon>
          <mat-icon trutIncidentClose class="material-symbols-outlined">close</mat-icon>
          <trut-incident-title>{{ incident.title }}</trut-incident-title>
          <trut-incident-details>{{ incident.details }}</trut-incident-details>
        </trut-incident>
      }
    </trut-incidents-list>
  </trut-incidents>
</div>
