<div class="w-[500px] bg-neutral-100 dark:bg-neutral-900 rounded-xl p-5">
  <trut-carousel>
    <trut-carousel-card>
      <div class="border dark:border-inverse p-6 rounded-xl size-72 bg-background">
        Card 1
      </div>
    </trut-carousel-card>
    <trut-carousel-card>
      <div class="border dark:border-inverse p-6 rounded-xl size-72 bg-background">
        Card 2
      </div>
    </trut-carousel-card>
    <trut-carousel-card>
      <div class="border dark:border-inverse p-6 rounded-xl size-72 bg-background">
        Card 3
      </div>
    </trut-carousel-card>
    <trut-carousel-card>
      <div class="border dark:border-inverse p-6 rounded-xl size-72 bg-background">
        Card 4
      </div>
    </trut-carousel-card>
    <trut-carousel-card>
      <div class="border dark:border-inverse p-6 rounded-xl size-72 bg-background">
        Card 5
      </div>
    </trut-carousel-card>
    <trut-carousel-card>
      <div class="border dark:border-inverse p-6 rounded-xl size-72 bg-background">
        Card 6
      </div>
    </trut-carousel-card>
    <ng-container trutCarouselControls>
      <button mat-icon-button trutCarouselPrevious>
        <mat-icon class="material-symbols-outlined">arrow_back</mat-icon>
      </button>
      <button mat-icon-button trutCarouselNext>
        <mat-icon class="material-symbols-outlined">arrow_forward</mat-icon>
      </button>
    </ng-container>
  </trut-carousel>
</div>
