<div class="flex items-center gap-2">
  <div class="text-sm">Nimantha Hennayake</div>
  <div class="border flex items-center border-neutral-900 dark:border-neutral-200 h-5 leading-3 px-2
                    rounded-full font-bold text-4xs uppercase text-neutral-500 dark:text-neutral-200">Free</div>
</div>
<div class="text-xs text-gray-500 mt-0.5 dark:text-gray-400">m2hennayake&#64;gmail.com</div>
<div class="my-4">
  <mat-divider></mat-divider>
</div>
<div class="ms-auto flex items-center gap-2.5">
  <trut-avatar text="PS" src="https://avatar.iran.liara.run/public" class="size-12"></trut-avatar>
  <div class="flex items-center rounded-full p-1 gap-[0.5] bg-neutral-200 dark:bg-neutral-700 hover:text-neutral-900">
    <button mat-icon-button matTooltip="Settings">
      <mat-icon class="material-symbols-outlined">settings</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Logout" (click)="signOut()">
      <mat-icon class="material-symbols-outlined">logout</mat-icon>
    </button>
  </div>
</div>
