<div class="space-y-6">
  <trut-alert variant="default">
    <mat-icon emrAlertIcon class="material-symbols-outlined">info</mat-icon>
    This is a ProTrack alert — check it out!
  </trut-alert>
  <trut-alert variant="secondary">
    <mat-icon emrAlertIcon class="material-symbols-outlined">info</mat-icon>
    This is a ProTrack alert — check it out!
  </trut-alert>
  <trut-alert variant="positive">
    <mat-icon emrAlertIcon class="material-symbols-outlined">done</mat-icon>
    This is a ProTrack alert — check it out!
  </trut-alert>
  <trut-alert variant="informative">
    <mat-icon emrAlertIcon class="material-symbols-outlined">help</mat-icon>
    This is a ProTrack alert — check it out!
  </trut-alert>
  <trut-alert variant="negative">
    <mat-icon emrAlertIcon class="material-symbols-outlined">error</mat-icon>
    This is a ProTrack alert — check it out!
  </trut-alert>
  <trut-alert variant="notice">
    <mat-icon emrAlertIcon class="material-symbols-outlined">info</mat-icon>
    This is a ProTrack alert — check it out!
  </trut-alert>
</div>
