<div class="h-[600px] border">
  <trut-layout>
    <trut-layout-topbar>
      <trut-announcement iconName="warning" type="warning">
        You still have not uploaded your Mart invoice due on 22 April 2024
      </trut-announcement>
    </trut-layout-topbar>
    <trut-layout-header>
      <div class="border-b px-6 h-14 flex items-center">
        Header
      </div>
    </trut-layout-header>
    <trut-layout-body>
      <div class="h-[1000px] p-6">
        Body with scroll
      </div>
    </trut-layout-body>
  </trut-layout>
</div>
