<trut-navigation activeKey="dashboard" class="border dark:border-inverse p-2 w-1/2">
  <trut-navigation-item key="dashboard">
    Dashboard
  </trut-navigation-item>
  <trut-navigation-item>
    Projects
  </trut-navigation-item>
  <trut-navigation-item>Tasks</trut-navigation-item>
  <trut-navigation-item>
    <div class="overflow-hidden overflow-ellipsis">
      Really long menu item text, really long menu item text
    </div>
  </trut-navigation-item>
  <trut-navigation-item>Support</trut-navigation-item>
</trut-navigation>
