<div class="flex gap-10 px-5 py-10">
  <div class="grow">
    <div class="container w-[900px] mx-auto prose dark:prose-invert max-w-none">
      <div>
        <trut-breadcrumbs class="mb-1">
          <a trut-breadcrumb-item routerLink="/pages/forms">Forms</a>
          <trut-breadcrumb-separator>/</trut-breadcrumb-separator>
          <trut-breadcrumb-active-item>Button</trut-breadcrumb-active-item>
        </trut-breadcrumbs>
        <h1>Button</h1>
      </div>
      <p>
        Buttons allow users to take actions, and make choices, with a single tap.
      </p>

      <h3 id="basic-button">Basic Button</h3>
      <trut-playground exampleUrl="_docs/forms/buttons/_examples" exampleName="basic-buttons-example">
        <app-basic-buttons-example></app-basic-buttons-example>
      </trut-playground>

      <h3 id="raised-button">Raised Button</h3>
      <trut-playground exampleUrl="_docs/forms/buttons/_examples" exampleName="raised-buttons-example">
        <app-raised-buttons-example></app-raised-buttons-example>
      </trut-playground>

      <h3 id="stroked-button">Stroked Button</h3>
      <trut-playground exampleUrl="_docs/forms/buttons/_examples" exampleName="stroked-buttons-example">
        <app-stroked-buttons-example></app-stroked-buttons-example>
      </trut-playground>

      <h3 id="flat-button">Flat Button</h3>
      <trut-playground exampleUrl="_docs/forms/buttons/_examples" exampleName="flat-buttons-example">
        <app-flat-buttons-example></app-flat-buttons-example>
      </trut-playground>

      <h3 id="icon-button">Icon Button</h3>
      <trut-playground exampleUrl="_docs/forms/buttons/_examples" exampleName="icon-buttons-example">
        <app-icon-buttons-example></app-icon-buttons-example>
      </trut-playground>

      <h3 id="fab-button">Fab Button</h3>
      <trut-playground exampleUrl="_docs/forms/buttons/_examples" exampleName="fab-buttons-example">
        <app-fab-buttons-example></app-fab-buttons-example>
      </trut-playground>

      <h3 id="mini-fab-button">Mini Fab Button</h3>
      <trut-playground exampleUrl="_docs/forms/buttons/_examples" exampleName="mini-fab-buttons-example">
        <app-mini-fab-buttons-example></app-mini-fab-buttons-example>
      </trut-playground>

      <h3 id="button-loading">Button Loading</h3>
      <trut-playground exampleUrl="_docs/forms/buttons/_examples" exampleName="button-loading-example">
        <app-button-loading-example></app-button-loading-example>
      </trut-playground>
    </div>
  </div>
  <div>
    <nav trut-scroll-spy-nav class="sticky top-20">
      <trut-scroll-spy-title>On this page</trut-scroll-spy-title>
      <a trut-scroll-spy-on targetId="basic-button">Basic Button</a>
      <a trut-scroll-spy-on targetId="raised-button">Raised Button</a>
      <a trut-scroll-spy-on targetId="stroked-button">Stroked Button</a>
      <a trut-scroll-spy-on targetId="flat-button">Flat Button</a>
      <a trut-scroll-spy-on targetId="icon-button">Icon Button</a>
      <a trut-scroll-spy-on targetId="fab-button">Fab Button</a>
      <a trut-scroll-spy-on targetId="mini-fab-button">Mini Fab Button</a>
      <a trut-scroll-spy-on targetId="button-loading">Button Loading</a>
    </nav>
  </div>
</div>
