.global-search-form {
    height: 40px;
    display: flex;
    background-color: #dad7dd2e;
    border-radius: 12px;
}

.search-input {
    width: 100%;
}

.search-input input {
    height: 100%;
}

.search-input button {
    margin-left: 8px;
}