<div class="space-y-6">
  <trut-announcement type="neutral">You still have not uploaded your Mart invoice due on 22 April 2024</trut-announcement>
  <trut-announcement type="informative">You still have not uploaded your Mart invoice due on 22 April 2024</trut-announcement>
  <trut-announcement type="negative">You still have not uploaded your Mart invoice due on 22 April 2024</trut-announcement>
  <trut-announcement type="positive">You still have not uploaded your Mart invoice due on 22 April 2024</trut-announcement>
  <trut-announcement type="warning">You still have not uploaded your Mart invoice due on 22 April 2024</trut-announcement>
</div>
