<div class="space-y-8">
  <trut-skeleton>
    <trut-skeleton-circle></trut-skeleton-circle>
    <trut-skeleton-line></trut-skeleton-line>
    <trut-skeleton-line></trut-skeleton-line>
    <trut-skeleton-block></trut-skeleton-block>
    <trut-skeleton-line></trut-skeleton-line>
  </trut-skeleton>
  <trut-skeleton class="gap-5">
    <trut-skeleton-line class="h-7 w-24"></trut-skeleton-line>
    <trut-skeleton-line class="h-7 w-20"></trut-skeleton-line>
    <trut-skeleton-line class="h-7 w-28"></trut-skeleton-line>
    <trut-skeleton-line class="h-7 w-16"></trut-skeleton-line>
  </trut-skeleton>
</div>
