<div class="inner">
  <div class="header h-16">
    <div class="p-4">
      <img src="assets/logo.png" alt="" class="h-10" routerLink="/">
    </div>
    <!-- <a routerLink="/" class="font-bold text-lg px-7 logo">TRUT</a> -->
  </div>
  <div class="body">
    <trut-navigation #navigation [activeKey]="activeLinkId" class="navigation">
      @for (navItem of navItems; track navItem) {
      @switch (navItem.type) {
      @case ('heading') {
      <trut-navigation-heading>{{ navItem.name }}</trut-navigation-heading>
      }
      @case ('group') {
      <trut-navigation-group>
        <trut-navigation-group-toggle matRipple [for]="navItem.id">
          @if (navItem.icon) {
          <mat-icon emrNavigationItemIcon class="material-symbols-outlined">{{ navItem.icon }}</mat-icon>
          }
          {{ navItem.name }}
          <mat-icon emrNavigationGroupToggleIcon class="material-symbols-outlined">arrow_drop_down</mat-icon>
        </trut-navigation-group-toggle>
        <trut-navigation-group-menu [key]="navItem.id">
          @for (childItem of navItem.children | orderBy:'name'; track childItem) {
          <a trut-navigation-item matRipple [routerLink]="childItem.link" [key]="childItem.link">
            {{ childItem.name }}
          </a>
          }
        </trut-navigation-group-menu>
      </trut-navigation-group>
      }
      @default {
      <a trut-navigation-item matRipple [routerLink]="navItem.link" [key]="navItem.link">
        @if (navItem.icon) {
        <mat-icon emrNavigationItemIcon class="material-symbols-outlined">{{ navItem.icon }}</mat-icon>
        }
        {{ navItem.name }}
      </a>
      }
      }
      }
    </trut-navigation>
  </div>
  <div class="footer p-7">
    <app-sidebar-toolbar></app-sidebar-toolbar>
  </div>
</div>