<trut-navigation activeKey="profile" class="border dark:border-inverse p-2 h-[500px] w-1/2">
  <trut-navigation-item>Dashboard</trut-navigation-item>
  <trut-navigation-item>Projects</trut-navigation-item>
  <div trut-navigation-item>Tasks</div>
  <trut-navigation-group>
    <trut-navigation-group-toggle for="settings">
      Settings
      <mat-icon trutNavigationGroupToggleIcon class="material-symbols-outlined">expand_more</mat-icon>
    </trut-navigation-group-toggle>
    <trut-navigation-group-menu key="settings">
      <trut-navigation-item key="profile">Profile</trut-navigation-item>
      <div trut-navigation-item>Security</div>
    </trut-navigation-group-menu>
  </trut-navigation-group>
  <trut-navigation-item>Support</trut-navigation-item>
</trut-navigation>
