<div class="space-y-6">
  <trut-alert>
    This is a ProTrack alert — check it out!
    <button trutAlertAction trutAlertClose matRipple>
      <mat-icon class="material-symbols-outlined">close</mat-icon>
    </button>
  </trut-alert>
  <trut-alert variant="secondary">
    This is a ProTrack alert — check it out!
    <button trutAlertAction trutAlertClose matRipple>
      <mat-icon class="material-symbols-outlined">close</mat-icon>
    </button>
  </trut-alert>
  <trut-alert variant="informative">
    This is a ProTrack alert — check it out!
    <button trutAlertAction trutAlertClose matRipple>
      <mat-icon class="material-symbols-outlined">close</mat-icon>
    </button>
  </trut-alert>
  <trut-alert variant="negative">
    This is a ProTrack alert — check it out!
    <button trutAlertAction matRipple>Action</button>
    <button trutAlertAction trutAlertClose matRipple>
      <mat-icon class="material-symbols-outlined">close</mat-icon>
    </button>
  </trut-alert>
  <trut-alert variant="positive">
    <trut-alert-title>Alert Title</trut-alert-title>
    This is a ProTrack alert — check it out!
    <button trutAlertAction trutAlertClose matRipple>
      <mat-icon class="material-symbols-outlined">close</mat-icon>
    </button>
  </trut-alert>
  <trut-alert variant="notice">
    <trut-alert-title>Alert Title</trut-alert-title>
    This is a ProTrack alert — check it out!
    <button trutAlertAction matRipple>Action</button>
    <button trutAlertAction trutAlertClose matRipple>
      <mat-icon class="material-symbols-outlined">close</mat-icon>
    </button>
  </trut-alert>
</div>
