<div class="space-y-8">
  <div>
    <trut-segmented selectedValue="monthly" size="sm">
      <trut-segmented-button value="daily">Daily</trut-segmented-button>
      <trut-segmented-button value="weekly">Weekly</trut-segmented-button>
      <trut-segmented-button value="monthly">Monthly</trut-segmented-button>
    </trut-segmented>
  </div>
  <div>
    <trut-segmented selectedValue="monthly">
      <trut-segmented-button value="daily">Daily</trut-segmented-button>
      <trut-segmented-button value="weekly">Weekly</trut-segmented-button>
      <trut-segmented-button value="monthly">Monthly</trut-segmented-button>
    </trut-segmented>
  </div>
  <div>
    <trut-segmented selectedValue="monthly" size="lg">
      <trut-segmented-button value="daily">Daily</trut-segmented-button>
      <trut-segmented-button value="weekly">Weekly</trut-segmented-button>
      <trut-segmented-button value="monthly">Monthly</trut-segmented-button>
    </trut-segmented>
  </div>
</div>
