<div class="space-y-6">
  <trut-alert variant="default" bordered>This is a ProTrack alert — check it out!</trut-alert>
  <trut-alert variant="secondary" bordered>This is a ProTrack alert — check it out!</trut-alert>
  <trut-alert variant="positive" bordered>This is a ProTrack alert — check it out!</trut-alert>
  <trut-alert variant="informative" bordered>This is a ProTrack alert — check it out!</trut-alert>
  <trut-alert variant="negative" bordered>This is a ProTrack alert — check it out!</trut-alert>
  <trut-alert variant="notice" bordered>This is a ProTrack alert — check it out!</trut-alert>
</div>
