<trut-navigation activeKey="dashboard" class="border dark:border-inverse p-2 w-1/2">
  <trut-navigation-item key="dashboard">
    <ng-template trutNavigationItemIcon>
      <mat-icon trutNavigationItemIcon class="material-symbols-outlined">home</mat-icon>
    </ng-template>
    Dashboard
  </trut-navigation-item>
  <trut-navigation-item>
    <mat-icon trutNavigationItemIcon class="material-symbols-outlined">view_kanban</mat-icon>
    Projects
  </trut-navigation-item>
  <trut-navigation-item>
    <mat-icon trutNavigationItemIcon class="material-symbols-outlined">check</mat-icon>
    Tasks
  </trut-navigation-item>
  <trut-navigation-item>
    <mat-icon trutNavigationItemIcon class="material-symbols-outlined">person</mat-icon>
    <div class="overflow-hidden overflow-ellipsis">
      Really long menu item text, really long menu item text
    </div>
  </trut-navigation-item>
  <trut-navigation-item>
    <mat-icon trutNavigationItemIcon class="material-symbols-outlined">support</mat-icon>
    Support
  </trut-navigation-item>
</trut-navigation>
