.mat-mdc-table {
    white-space: nowrap !important;
}

.global-search-form {
    height: 40px;
    display: flex;
    background-color: #dad7dd2e;
    border-radius: 12px;
}

.search-input {
    width: 400px;
    font-family: inherit;

    .mat-mdc-text-field-wrapper {
        height: 40px !important;
    }
}

.search-input input {
    margin-top: -8px;
}

.search-input button {
    margin-left: 8px;
}

.global-search-form mat-form-field {
    height: 40px;
    line-height: 0px;

    .mat-mdc-text-field-wrapper.mdc-text-field {
        height: 40px !important;
    }
}

.table-action-th {
    width: 40px;
    padding: 0px 4px 0px 4px;
}

.table-action-td {
    width: 40px;
    padding: 0px 4px 0px 4px;
}