<div class="h-[100% ] border">
    <trut-layout>
        <trut-layout-topbar>
            <trut-announcement iconName="help" type="informative" closable>
                You still have not uploaded your Mart invoice due on 22 April 2024
            </trut-announcement>
        </trut-layout-topbar>
        <trut-layout-header>
            <div class="border-b px-6 h-14 flex items-center">
                Header
            </div>
        </trut-layout-header>
        <trut-layout-sidebar>
            <div class="p-6 border-r h-full w-[240px]">Sidebar</div>
        </trut-layout-sidebar>
        <trut-layout>
            <trut-layout-header>
                <div class="border-b px-6 h-12 flex items-center">
                    Subheader
                </div>
            </trut-layout-header>
            <trut-layout-body>
                <div class="h-[1000px] p-6">Body with scroll</div>
            </trut-layout-body>
            <trut-layout-footer>
                <div class="border-t px-6 h-10 flex items-center text-xs">
                    This is footer example &copy; 2024
                </div>
            </trut-layout-footer>
        </trut-layout>
    </trut-layout>
</div>