<div class="w-[500px] bg-neutral-100 dark:bg-neutral-900 rounded-xl p-5 relative">
  <trut-carousel #carousel>
    <trut-carousel-card>
      <div class="border dark:border-inverse p-6 rounded-xl size-72 bg-background">
        Card 1
      </div>
    </trut-carousel-card>
    <trut-carousel-card>
      <div class="border dark:border-inverse p-6 rounded-xl size-72 bg-background">
        Card 2
      </div>
    </trut-carousel-card>
    <trut-carousel-card>
      <div class="border dark:border-inverse p-6 rounded-xl size-72 bg-background">
        Card 3
      </div>
    </trut-carousel-card>
    <trut-carousel-card>
      <div class="border dark:border-inverse p-6 rounded-xl size-72 bg-background">
        Card 4
      </div>
    </trut-carousel-card>
    <trut-carousel-card>
      <div class="border dark:border-inverse p-6 rounded-xl size-72 bg-background">
        Card 5
      </div>
    </trut-carousel-card>
    <trut-carousel-card>
      <div class="border dark:border-inverse p-6 rounded-xl size-72 bg-background">
        Card 6
      </div>
    </trut-carousel-card>
  </trut-carousel>
  <div class="absolute start-2 top-1/2 w-max -translate-y-1/2">
    <button mat-icon-button emrCarouselPrevious [carousel]="carousel">
      <mat-icon class="material-symbols-outlined">arrow_back</mat-icon>
    </button>
  </div>
  <div class="absolute end-2 top-1/2 w-max -translate-y-1/2">
    <button mat-icon-button emrCarouselNext [carousel]="carousel">
      <mat-icon class="material-symbols-outlined">arrow_forward</mat-icon>
    </button>
  </div>
</div>
